.example{
    overflow: auto;
    width: 100%;
    height: 100px;
}
.example table{
    margin: 0;
    border-spacing: 0;

}
.example td{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    height: 10px;
    padding: 5px;
}
.example th{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
    height: 10px;
}
.example tr:first-child th{
    border-top: 1px solid #999;
}
.example th:first-child{
    border-left: 1px solid #999;
}
.example tr:first-child th:first-child{
    z-index: 30;
}