body{
    overflow-x: hidden;
}

.sidebar{
    position: absolute;
    top: 33px;
    padding: 10px 80px 100vh 10px;
    margin: 53px 0 0 0;
    box-shadow: -2px 0 3px 2px gray;
    width: 20%;
    height: 50vh;
    z-index:10;
}

.sidebar.closed{
    left: 100%;
    box-shadow: none;
    z-index:10;
}

.sidebar.opened{
    right: 0%;
    z-index:10;
}

.close, .open{
    position: absolute;
    top: 100px;
    right: 100%;
    width: 30px;
    height: 160px;
    font-size: 20px;
    background-color: white;
    border: none;
    box-shadow: -2px 0 2px 2px gray;
    outline: none;
    z-index:10;
}

.button_text{
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index:10;
}
